@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url("normalize.css");

$sidebarBG: #272727;
$color-shadow: #141414;
$color-white: #212121;
$pageBG: #F5F5F5;

* {
    box-sizing: border-box;
    font-family: "Open sans", Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr 3fr;
    width: 100%;
    height: 100%;
    background-color: $pageBG;
}

.sidebar {
    $sidebarRadius: 20px;
    background-color: $sidebarBG;
    height: 100vh;
    border-top-right-radius: $sidebarRadius;
    border-bottom-right-radius: $sidebarRadius;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

    &__user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $sidebarBG;
        display: grid;
        place-items: center;
        color: white;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 20px;
    
        flex-grow: 1;

        &__button {
            box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
            display: grid;
            place-items: center;
            color: white;
            width: 50px;
            height: 50px;   
            border-radius: 10px;
            background: $sidebarBG;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
            }

            &--active {
                box-shadow: inset 5px 5px 6px #070707, inset -5px -5px 6px #1b1b1b;
                background: $sidebarBG;

                &:hover {
                    box-shadow: inset 5px 5px 6px #070707, inset -5px -5px 6px #1b1b1b;
                }
            }

            &--bottom {
                margin-top: auto;
            }
        }
    }
}


.messages {
    padding: 20px;
    &__searchbox {
        border: none;
        color: $sidebarBG;
        caret-color: $sidebarBG;
        background: #fefefe;
box-shadow: inset 6px 6px 12px #c2c2c2,
            inset -6px -6px 12px #ffffff;
        width: 100%;
        transition: all 200ms ease-in-out;
        appearance: none;
        padding: 15px;
        outline: none;
        border-radius: 1em;
    }
}